extends ./commom.pug
block content
  header
    h1 Child's Dream - BOOK
    br
    a.btn.btn-primary(href='/books/create') Create
    br
    br
    form(action="/books/search",method="GET")
      input(type='text', placeholder='Search in here', name='search')
      button#btn.btn.btn-primary
        | Search
      button(href="/books").btn.btn-primary
        | Show All  
    br
    ul#todo
      each item in books
        li 
          span= item.title 
          span &nbsp
          a(href="/books/" + item.id) Delete
          span &nbsp
          span &nbsp
          a(href="/books/edit/" + item.id) Edit
    script(src='https://button.glitch.me/button.js')


