extends ./commom.pug
block content
  header
    h1 Child's Dream - BOOK
    a( href='/book.jpg', target='_blank')
      img(src='/book.jpg')
    br
    a.btn.btn-primary(href='/books/create') Create
    br
    br
    form(action="/books/search",method="GET")
      input(type='text', placeholder='Search in here', name='search')
      button#btn.btn.btn-primary
        | Search
      button(href="/books").btn.btn-primary
        | Show All  
    br
    table.table
      tr
        th Title
        th Description
        th Option
        th Option
      each item in books
        tr
          td= item.title
          td= item.desc
          td
            a.btn.btn-secondary(href="/books/" + item.id) Delete
          td
            a.btn.btn-primary(href="/books/edit/" + item.id) Edit
    script(src='https://button.glitch.me/button.js')


