doctype html
head
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='A cool thing made with Glitch')
  link#favicon(rel='icon', href='https://glitch.com/edit/favicon-app.ico', type='image/x-icon')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  link(rel='stylesheet', href='/style.css')
  
header
  h1 Child's Dream  
if errors
  each err in errors
     .alert.alert-danger.errorfill= err
form(action="/users/create",method="POST")
  input(type='email' ,placeholder='Email', name='email', value = values ? values.email : '')
  input(type='text' ,placeholder='Name', name='name', value = values ? values.name : '')
  input(type='number' ,placeholder='Telephone number', name='sdt' , value = values ? values.sdt : '')
  button#btn.btn.btn-primary
    | Create
script(src='https://button.glitch.me/button.js')


