html
  head
    script(src='https://kit.fontawesome.com/05ef113fe5.js', crossorigin='anonymous')
    link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    link(rel="stylesheet" , href="/style.css")
  body
    .container
      .create
        h2 Login
        if errors
          each err in errors
            .alert.alert-danger.errorfill= err
        form(class="form", method="POST")
          .form-group
            label(for='exampleInputEmail1') Email
            input#exampleInputEmail1.form-control(type='email', name="email", value = values ? values.email : '')
          .form-group
            label(for='exampleInputPassword1') Password
            input#exampleInputPassword1.form-control(type='password', name="pass")
          button.btn.btn-primary(type='submit') Login
          a(href="/login/forgot" , style="color:red") Forgot password ?
          a(href="/login/signin" , style="color:red") Or Sign In ?
