doctype html
head
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='A cool thing made with Glitch')
  link#favicon(rel='icon', href='https://glitch.com/edit/favicon-app.ico', type='image/x-icon')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  link(rel='stylesheet', href='/style.css')
  
header
  h1 Child's Dream  
  form(method='post' , style="width:350px").form-group
    h3 USER:
    select(name='user').form-control
      each item in users
        option= item
    h3 BOOK:
    select(name="book").form-control
      each items in books
        option= items
    button.btn.btn-secondary.mt-3 Add
