html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='A cool thing made with Glitch')
    link#favicon(rel='icon', href='https://glitch.com/edit/favicon-app.ico', type='image/x-icon')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style.css')
    
  header
    h1 Child's Dream - Transaction
  br
  a.btn.btn-primary(href='/transaction/create') Create
  br
  br
  .d-flex
    .user(style="display:flex;flex-direction:column;align-items:center")
      h3 User
      ul
        each item in users
          li.m-3 
            span= item
            span &nbsp
            span &nbsp
            span &nbsp
            span= "->"
    .user(style="display:flex;flex-direction:column;align-items:center")
      h3 Books
      ul
        each items in books
          li.m-3 
            span= items
            span &nbsp
    .user(style="display:flex;flex-direction:column;align-items:center")
      h3.mb-4 Option
      each i in per
        ul(style='list-style-type:none')
          li
            a(href="/transaction/" + i.id) Delete
    .user(style="display:flex;flex-direction:column;align-items:center")
      h4.mb-4.ml-5 isComplete
      each i in per
        ul(style='list-style-type:none')
          li
            a(href="/transaction/" + i.id + '/complete') Complete
    .user(style="display:flex;flex-direction:column;align-items:center")
      h4.mb-4.ml-5 Circumstance
      each i in per
        ul(style='list-style-type:none')
          li= i.isComplete 
  script(src='https://button.glitch.me/button.js')