extends ./commom.pug
block content
  header
    h1 Child's Dream - Transaction
  a( href='/2.jpg', target='_blank')
    img(src='/2.jpg')
  br
  a.btn.btn-primary(href='/transaction/create') Create
  br
  br

  table.table
    tr
      th Stt
      th User
      th Books
      th Option
      th isComplete
      th Circumstance
    each item in arr
      tr
        td= stt++
        td= item.users
        td= item.name
        td
          a.btn.btn-secondary(href="/transaction/" + item.per.id) Delete
        td
          a.btn.btn-primary(href="/transaction/" + item.per.id + '/complete') Complete
        td(style="font-size:18px;color:red;font-weight:500")= item.per.isComplete
  a.log-out.btn.btn-primary(href="/login") Log Out
  script(src='https://button.glitch.me/button.js')