extends ./commom.pug
block content
  header
    h1 Child's Dream - User
    br
    a.btn.btn-primary(href='/users/create') Create
    br
    br
    form(action="/users/search",method="GET")
      input(type='text', placeholder='Search in here', name='search')
      button#btn.btn.btn-primary
        | Search
      button(href="/users").btn.btn-primary
        | Show All  
    br
    ul#todo
      each item in users
        li 
          span= item.name 
          span &nbsp
          a(href="/users/" + item.id) Delete
          span &nbsp
          span &nbsp
          a(href="/users/edit/" + item.id) Edit
    script(src='https://button.glitch.me/button.js')


