extends ./commom.pug
block content
  header
    h1 Child's Dream - User
    a( href='/user.png', target='_blank')
      img(src='/user.png')
    br
    a.btn.btn-primary(href='/users/create') Create
    br
    br
    form(action="/users/search",method="GET")
      input(type='text', placeholder='Search in here', name='search')
      button#btn.btn.btn-primary
        | Search
      button(href="/users").btn.btn-primary
        | Show All  
    br
    table.table(style="text-align:center")
      tr
        td Avatar
        th Name
        th Telephone
        th Option
        th Option
      each item in users
        tr
          td.avatar-user
            img(src=item.avatar, width=64)
          td= item.name
          td= item.sdt
          td
            a.btn.btn-secondary(href="/users/" + item.id) Delete
          td
            a.btn.btn-primary(href="/users/edit/" + item.id) Edit
    script(src='https://button.glitch.me/button.js')


