extends ../commom.pug
block content
  .viewOne
  .viewOne-book
    .img-book(style=`background-image:url(${book.avatar});`)
    .infor-book
      .title
        h3= book.title
      .desc
        i= book.desc
      .price
        h4= book.price + " $"
      .btn
        a.btn.btn-primary(href='#') Add to Cart